<div class="wrapper subsription">
    <div class="inner">
        <div class="header">
            <app-page-navigation></app-page-navigation>
        </div>

        <div class="sub-header">
            <h1>404 Error</h1>
        </div>

        <div class="container text-center mt-5">
            <p>This page has not been found!</p>

            <a routerLink="/welcome/home">Go to the main page...</a>
        </div>

        <div class="footer text-center">
            <p class="links">
                <a routerLink="/pages/terms-of-use/" routerLinkActive="active-link">Terms of Use</a>
                <a routerLink="/pages/privacy-policy/" routerLinkActive="active-link">Privacy Policy</a>
                <a routerLink="/pages/cookie-policy/" routerLinkActive="active-link">Cookie Policy</a>
            </p>

            <p class="cr">&copy; 2020 Roofy LLC</p>
        </div>
    </div>
</div>
