<div class="wrapper about common">
    <div class="inner">
        <div class="header">
            <app-page-navigation></app-page-navigation>
        </div>

        <div class="sub-header">
            <h1>Cookie Policy</h1>
        </div>

        <div class="page-body">
            <div class="page-body-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Effective as of May 20, 2019, Roofy LLC (“Roofy”, “we”, “us” or “our”) have updated our
                                Cookie Policy.</p>
                            <ol>
                                <li><strong>Intro</strong><br> This Cookie Policy (“Policy”) explains that we believe in
                                    being open and clear about how we use your information. In the spirit of
                                    transparency, this Policy provides detailed information about how and when we use
                                    cookies on our Websites. For the purposes of this Policy, the term, “Websites”,
                                    shall refer collectively to www.Roofy.com as well as the other websites that Roofy
                                    operates and that link to this Policy.</li>
                                <li><strong>Does Roofy use Cookies?</strong><br> Yes. Roofy and our marketing partners,
                                    affiliates, and analytics or service providers use cookies and other technologies to
                                    ensure everyone who uses the Websites has the best possible experience.</li>
                                <li><strong>What is a Cookie?</strong><br> A cookie is a small text file that is placed
                                    on your hard drive by a web page server. Cookies contain information that can later
                                    be read by a web server in the domain that issued the cookie to you. Some of the
                                    cookies will only be used if you use certain features or select certain preferences,
                                    and some cookies will always be used. You can find out more about each cookie by
                                    viewing our current cookie list below. We update this list quarterly, so there may
                                    be additional cookies that are not yet listed. Web beacons, tags and scripts may be
                                    used in the Websites or in emails to help us to deliver cookies, count visits,
                                    understand usage and campaign effectiveness and determine whether an email has been
                                    opened and acted upon. We may receive reports based on the use of these technologies
                                    by our service/analytics providers on an individual and aggregated basis.</li>
                                <li><strong>Why does Roofy use Cookies?</strong><br> When you visit our Websites, we may
                                    place a number of cookies in your browser. These are known as First Party Cookies
                                    and are required to enable to hold session information as you navigate from page to
                                    page within the website. For example, we use cookies on our Websites to understand
                                    visitor and user preferences, improve their experience, and track and analyze usage,
                                    navigational and other statistical information. You can control the use of cookies
                                    at the individual browser level. If you elect not to activate the cookie or to later
                                    disable cookies, you may still visit our Websites, but your ability to use some
                                    features or areas of the Websites may be limited.</li>
                                <li><strong>How to disable Cookies</strong><br> You can generally activate or later
                                    deactivate the use of cookies through a functionality built into your web browser.
                                </li>
                            </ol>
                            <p>If you want to learn more about cookies, or how to control, disable or delete them,
                                please
                                visit http://www.aboutcookies.org for detailed guidance. In addition, certain third
                                party
                                advertising networks, including Google, permit users to opt out of or customize
                                preferences
                                associated with your internet browsing.</p>

                            <p>Many jurisdictions require or recommend that website operators inform users/visitors as
                                to
                                the nature of cookies they utilize and, in certain circumstances, obtain the consent of
                                their users to the placement of certain cookies.</p>

                            <p>The Websites include third party social media features, such as the Facebook Like button,
                                and third party widgets, such as the ‘Share This’ button or interactive mini-programs
                                that
                                run on the Websites. These features may collect your IP address, which page you are
                                visiting
                                on the Websites, and set a cookie to enable the feature to function properly. Your
                                interaction with these features is governed by the privacy policy of the third party
                                company
                                providing it.</p>

                            <p>We may use any of the following categories of cookies on the Websites as detailed below.
                            </p>

                            <p>Each cookie falls within one of the four following categories:</p>
                            <p>Category Description</p>
                            <ol>
                                <li><strong>Essential Cookies </strong> Essential cookies (First Party Cookies) are
                                    sometimes called “strictly necessary” as without them we cannot provide many
                                    services that you need on the Website. For example, essential cookies help remember
                                    your preferences as you move around the Website.</li>
                                <li><strong>Analytics Cookies </strong> These cookies track information about visits to
                                    the Websites so that we can make improvements and report our performance. For
                                    example: analyze visitor and user behavior so as to provide more relevant content or
                                    suggest certain activities. They collect information about how visitors use the
                                    Websites, which site the user came from, the number of each user’s visits and how
                                    long a user stays on the Websites. We might also use analytics cookies to test new
                                    ads, pages, or features to see how users react to them.</li>
                                <li><strong>Functionality or Preference Cookies </strong> During your visit to the
                                    Websites, cookies are used to remember information you have entered or choices you
                                    make (such as your username, language or your region) on the Websites. They also
                                    store your preferences when personalizing the Websites to optimize your use of
                                    Roofy, for example, your preferred language. These preferences are remembered,
                                    through the use of the persistent cookies, and the next time you visit the Websites
                                    you will not have to set them again.</li>
                                <li><strong>Targeting or Advertising Cookies</strong> These Third Party Cookies are
                                    placed by third party advertising platforms or networks in order to, deliver ads and
                                    track ad performance, enable advertising networks to deliver ads that may be
                                    relevant to you based upon your activities (this is sometimes called “behavioral”
                                    “tracking” or “targeted” advertising) on the Websites. They may subsequently use
                                    information about your visit to target you with advertising that you may be
                                    interested in, on the Websites and other websites. For example, these cookies
                                    remember which browsers have visited the Websites.</li>
                            </ol>
                            <p>A list of cookies used on the Websites will be provided upon request.</p>
                            <ol>
                                <li><strong>Cookies Subject to Change</strong><br> The content of this Policy is for
                                    your general information and use only. These cookies are subject to change without
                                    notice. You acknowledge that this information may contain inaccuracies or errors and
                                    is subject to change and we expressly exclude liability for any such inaccuracies or
                                    errors to the fullest extent permitted by law.</li>
                                <li><strong>Cookies Used in Our Services</strong><br> In addition to using cookies on
                                    our Websites as described above, we also use cookies and other tracking technologies
                                    in connection with your access to and use of the products and services which we
                                    market for subscription on our Websites (our “Services”). How and why we use cookies
                                    and other tracking technologies in our Services is further explained in our Master
                                    Subscription Agreement found here.</li>
                                <li><strong>Updating This Policy</strong><br> If there are any material changes to this
                                    Policy, you will be notified by the posting of a prominent notice on our Websites
                                    prior to the change becoming effective. We encourage you to periodically review this
                                    page for the latest information on the Policy. Your continued use of the Websites
                                    constitutes your agreement to be bound by such changes to this Policy. Your only
                                    remedy, if you do not accept the terms of this Policy, is to discontinue use of and
                                    access to the Websites.</li>
                                <li><strong>English Version Controls</strong><br> Non-English translations of this
                                    Policy are provided for convenience only. In the event of any ambiguity or conflict
                                    between translations, the English version is authoritative and controls.<br> Last
                                    updated: May 20, 2019</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-pages-footer></app-pages-footer>
    </div>
</div>
