<div class="wrapper about">
    <div class="inner">
        <div class="header">
            <app-page-navigation></app-page-navigation>
        </div>

        <div class="sub-header">
            <h1>About Roofy</h1>
        </div>

        <div class="page-body">
            <div class="page-body-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Our mission is to deliver same-day insurance-acceptable roofing cost estimates for contractors & property owners.</h2>
                            <p>
                                The idea of Roofy is the brainchild of our founder, Cash Unruh, an insurance adjuster in the U.S. with 15 years’ experience focused on estimating damage caused by major natural disasters, including hurricanes, tornados, hailstorms & wildfires.
                            </p>
                            <p>
                                During his time chasing storms & helping distraught property owners, Cash recognized the importance of speed & accurate roofing cost estimates in stabilizing a family’s most important asset – their home. Fewer tears are shed & hours of sleep are lost
                                when the roof over one’s home is quickly restored with a quality roof & all costs are paid by the insurance company.
                            </p>

                            <p>
                                As Cash embraced homeowners with their walls & furniture saturated with water from a damaged or non-existent roof, he committed himself to working tirelessly to rapidly deliver cost estimates for roofers & property owners. Cash’s vision culminated with
                                Roofy.
                            </p>
                            <p>
                                Roofy couples accurate measurements from industry-leading with insurance company-specific product & installation cost benchmarks to deliver insurance-acceptable estimates. We enable roofers to maximize the value of their work and property owners to quickly
                                install a quality roof for an insurance-acceptable price.
                            </p>

                        </div>
                        <div class="col-md-4">
                            <img src="/assets/cash.jpg" alt="Cash Unruh">
                        </div>
                    </div>
                </div>
            </div>
            <div class="parol">
                <div class="container">
                    <h2>We strive to understand the acceptable cost to the insurance company better than their underwriters know themselves!</h2>
                </div>
            </div>
        </div>

        <div class="page-about-bottom">
            <h3>We take the guesswork out of
            </h3>
            <h3>insurance-acceptable roofing cost estimates.
            </h3>
        </div>

        <app-pages-footer></app-pages-footer>
    </div>
</div>
